@media screen and (max-width: 700px) {
    .nav-center  {
        display: none;
    }
    .copyrights .p-left img{
        display: inline-block;
        width: 40px;
    }
    .p-right h3{
        font-size: 15px;
    }
    .copyrights span{
        display: inline-block;
        position:relative;
        right: 0;
        font-size: 5px;
    }
}

/* Search Bar */
.search-container {
    position: relative;
}

.search-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.search-input {
    display: none;
    width: 200px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: absolute;
    left: 0;
    top: 100%;
}

.search-input.active {
    display: block;
}

/* loading css start */

/* loading css end */

::-webkit-scrollbar{
    width:10px;
}

::-webkit-scrollbar-track{
    background:linear-gradient(#202020,#111111);}

::-webkit-scrollbar-thumb{
    background: #000;
    border-radius: 40px;
}

* {
    font-family: "Cairo", sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    text-decoration: none;

}

body{
    background:linear-gradient(#202020,#111111);
}
.content{
    padding: 10px;
    /* background-image: url(photos/Madam_Web_880x440-100_1708070192.jpg);
    background-repeat: no-repeat; */
    /* background-position: top right;
    background-size:cover; */
    /* background: linear-gradient(#0c0c0c,#202020); */
    background-repeat: no-repeat;
    background: #000000;
}

.navbar{
    display: flex;
    flex-flow: row wrap-reverse;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}

.navbar .nav-right{
    margin-left: 20px;
}

.navbar .nav-right a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-weight: 700px;
    border: #fff solid 1px;
    border-radius: 10px;
    padding: 0px 10px;
    /* box-shadow: 0 0 5px 2px #fff; */
}

.navbar .nav-center a{
    margin-left: 20px;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    transition: .2s;
}

.navbar .nav-center a:hover{
    color: #185099;
    font-weight: 800;
}

.navbar .nav-center .activehome{
    color: #185099;
    font-weight: 800;
    border-bottom: 2px solid #113f7c;
}

.navbar .nav-center .activehome:hover{
    color: #2b6cc2;
    font-weight: 800;
    border-bottom: 2px solid #113f7c;
}

.navbar .nav-left{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.navbar .nav-left a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: white;
    margin: 10px;
}

.nav-left span{
    cursor: pointer;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.nav-left button{
    background: none;
    border: none;
    padding: 5px;
    color: white;
    font-weight: 600;
    border: solid 3px #cc1515;
    border-radius: 35px;
    width: 120px;
    transition: .3s;
}

.nav-left button:hover{
    color: #185099;
    background: #fff;
    border: solid 3px #113f7c;
    cursor: pointer;
}

/* Search Icon */
.search-container {
    position: relative;
}

.search-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.search-input {
    display: none;
    width: 200px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: absolute;
    left: 0;
    top: 100%;
}

.search-input.active {
    display: block;
}

/* Section 2 (New, Movies) */
.main-movies{
    padding: 0px 0 50px 0;
    max-width: 1320px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.main-movies .title-right{
    display: flex;
    padding: 50px;
    width: 100%;
    text-align: right;
    direction: rtl;
    color: #fff;
    font-size: 15px;
    font-weight: 600px;
}

.main-movies .title-right h2{
    border-bottom: #185099 5px solid;
}

.age-rate p{
    /* border: #ffffff solid 3px; */
    width: 15px;
    padding: 5px;
    /* border-radius: 50%; */
    margin: 5px 20px;
    text-decoration: underline;
}

.card{
    margin-top: 20px;
    margin-left: 30px;
    position: relative;
    overflow: hidden;
    width: 300px;
    height: 450px;
    /* width: 480px;
    height: 700px; */
    border-radius: 20px;
}

.poster{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.poster img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: .5s;
    border-radius: 12px;
}

.datalist{
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: auto;
    padding: 1.5em 1.5em 2em;
    backdrop-filter: blur(16px);
    background-color: #000;
    transition: .5s;
    color: #fff;
    /* opacity: 90%; */
}

.card:hover .datalist{
    bottom: 0;
}

.datalist h1{
    color: #fff;
    font-size: 26px;
    font-weight: 800;
}

.datalist p{
    color: #fff;
    /* font-weight: 400; */
    direction: rtl;
    padding-right: 50px;
    font-size: 12px;
}

.seemore_Book button{
    display: flex;
    align-items: center;
    background: none;
    border: none;
    padding: 5px 0px 5px 50px;
    margin: 10px;
    color: white;
    font-weight: 600;
    border: solid 3px #185099;
    border-radius: 35px;
    width: 150px;
    transition: .3s;
    text-align: center;
}

.seemore_Book button:hover{
    color: #185099;
    background: #ffffff;
    border: solid 3px #113f7c;
    cursor: pointer;
}

.seemore_Book .book{
    background: #185099;
    color: #000;
    border: solid 3px #113f7c;
    cursor: pointer;
    font-size: 15px;
    font-weight: 800;
}

.seemore_Book .book:hover{
    color: #ffffff;
    background: #1c58a7;
    font-weight: 900;
    text-decoration: underline;
}

.dashed {
    border: #ffffff 1px dashed;
    opacity: 20%;
    margin: 0 auto;
    max-width: 1320px;
}
.solid{
    border: 1px solid #fff;
    opacity: 10%;
}










.copyrights{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 20px;
    
}

.copyrights h3{
    color: #fff;
}

.copyrights img{
    width: 60px;
}

.copyrights span{
    color: #1c5bac;
    font-size: 20px;
    font-weight: 800;
}





/* .copyrights .fawry{
    width: 180px;
    height: 120px;
    margin-bottom: 20px;
    /* align-items: center;
    justify-content: center;
}*/